/* https://codingyaar.com/bootstrap-4-card-image-left-responsive/ */

.card {
    flex-direction: row;
    align-items: center;
    /* width: 40%; */
}

.card-title {
    font-weight: bold;
}

.card img {
    width: 48px;
    margin-left: 2%;
}

@media only screen and (max-width: 768px) {
    a {
        display: none;
    }

    .card-body {
        padding: 0.5em 1.2em;
    }

    .card-body .card-text {
        margin: 0;
    }
}
